@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sidebar {
    background-color: rgb(234, 15, 15);
    width: 20vw;
    height: 100vh;
    font-family: "Barlow";
}

.sidebar nav {
    padding: 45px;
}


.sidebar nav li{
    list-style: none;
    font-size : 10px;
    padding: 33px 0;
}
.main {
    background-color: yellow;
    width: 80vw;
    
}

.container {
    display: flex;

}
.infocontainer {
    background-color: rgb(239, 13, 81);
    height: 78vh;
    width: 60vw;
    margin: 144px auto;
    display: flex ;
}
.devpic img {
width: 222px;
display: flex;
justify-content: space-around;

}